version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Australia/Sydney
    open-pull-requests-limit: 5

  - package-ecosystem: npm
    directory: "/src"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Australia/Sydney
    open-pull-requests-limit: 10
    groups:
      aws-sdk:
        patterns:
          - "@aws-sdk*"

      aws-cdk:
        patterns:
          - "aws-cdk"
          - "aws-cdk-lib"

      graphql-tools:
        patterns:
          - "@graphql-tools*"

      mikro-orm:
        patterns:
          - "@mikro-orm*"

      nivo:
        patterns:
          - "@nivo*"

      opentelemetry:
        patterns:
          - "@opentelemetry*"

      react:
        patterns:
          - "react"
          - "react-dom"

      simplewebauthn:
        patterns:
          - "@simplewebauthn*"

      storybook:
        patterns:
          - "storybook"
          - "@storybook*"

      tiptap:
        patterns:
          - "@tiptap*"

      typescript-eslint:
        patterns:
          - "@typescript-eslint*"
