version: 2
updates:
  - package-ecosystem: npm
    directory: "/src"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Australia/Sydney
    open-pull-requests-limit: 99
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Australia/Sydney
    open-pull-requests-limit: 99
