version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Australia/Sydney
    open-pull-requests-limit: 5

  - package-ecosystem: npm
    directory: "/src"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Australia/Sydney
    open-pull-requests-limit: 10
    groups:
      aws-sdk:
        patterns:
          - "@aws-sdk*"
      graphql-tools:
        patterns:
          - "@graphql-tools*"
      mikro-orm:
        patterns:
          - "@mikro-orm*"
      nivo:
        patterns:
          - "@nivo*"
      opentelemetry:
        patterns:
          - "@opentelemetry*"
      simplewebauthn:
        patterns:
          - "@simplewebauthn*"
      typescript-eslint:
        patterns:
          - "@typescript-eslint*"
