.switchContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.label {
	margin-right: 8px;
	font-size: 14px;
}

.switchWrapper {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

.switchInput {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
}

.switchSlider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
}

.switchSlider:before {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

.switchInput:checked + .switchSlider {
	background-color: var(--primary-color);
}

.switchInput:focus + .switchSlider {
	box-shadow: 0 0 1px var(--primary-color);
}

.switchInput:checked + .switchSlider:before {
	transform: translateX(16px);
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
