.inputWrapper {
	display: flex;
	flex-direction: column;
}

.input {
	display: flex;
	flex-direction: row;
	gap: 8px;
	z-index: 2;
}

.input input {
	all: unset;
	text-transform: capitalize;
	color: hsl(0, 0%, 50%);
	font-size: 100%;
	background-color: var(--select-background);
	border-color: var(--select-border-color);
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	min-height: 36px;
	padding-left: 10px;
}

.inputHighlighted input {
	background-color: var(--primary-color);
	color: var(--body-copy-color);
}
