.dropdownList {
	position: absolute;
	display: flex;
	flex-direction: column;

	top: 40px;
	right: 0;

	background: #201b2b;
	border: 1px solid var(--detail-border-color);
	box-shadow: 0 2px 20px #100a1c, 0 8px 2px rgba(16, 10, 28, 0.2);
	border-radius: 6px;
	z-index: 1;
	padding: 8px 0;

	flex-wrap: nowrap;

	/* min-width: 140px; */
}

.dropdown li {
	padding: 8px 16px 8px 16px;
	height: 32px;
	display: block;
	text-align: left;
	flex-shrink: 0;
	white-space: nowrap;

	font-family: 'Inter';

	font-style: normal;
	font-weight: 500;
}

.dropdown li a {
	font-weight: 500;
}

.dropdown li p {
	font-weight: 500;
}

.dropdown li:hover {
	background: var(--primary-color);
}

.hide {
	display: none;
}

/* Drop Up Styles */
.dropup {
	position: absolute;
	display: flex;
	flex-direction: column;

	bottom: 120%;
	left: 55%;

	background: #201b2b;
	border: 1px solid var(--detail-border-color);
	box-shadow: 0 2px 20px #100a1c, 0 8px 2px rgba(16, 10, 28, 0.2);
	border-radius: 6px;
	z-index: 1;
	padding: 8px 0;

	flex-wrap: nowrap;
}

.dropup li {
	padding: 8px 16px 8px 16px;
	height: 32px;
	display: block;
	text-align: left;
	flex-shrink: 0;
	white-space: nowrap;

	font-family: 'Inter';

	font-style: normal;
	font-weight: 500;
}
