.container {
	display: grid;
	grid-template-areas:
		'nav dragbar header'
		'nav dragbar content'
		'footer footer footer';
	grid-template-rows: 120px 1fr 80px;
	grid-template-columns: var(--sidebar-width) 6px 1fr;
	grid-row-gap: 5px;
	grid-column-gap: 2px;
	height: 100vh;
	margin: 0;
}

.content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.dragbar {
	grid-area: dragbar;
	cursor: col-resize;
	resize: horizontal;
}

.dragbar:hover {
	width: 6px;
	background: #c1c3c5b4;
}

/* TODO: Meant to be a clickable arrow which fully closes or opens the sidebar */
/* .dragbar:hover::after {
	content: url(../../assets/16-chevron-down.svg);
	position: relative;
	transform: rotate(270deg);
	left: 0;
	top: 80px;
	width: 64px;
	height: 64px;
	background-color: white;
	cursor: pointer;
} */

header {
	grid-area: header;
}

.nav {
	grid-area: nav;
}

footer {
	grid-area: footer;
}
