/** ===== [ DateTimeFilter ] ===== */
.inputField {
	text-transform: uppercase;
	color: hsl(0, 0%, 50%);
	font-size: 100%;
	background-color: var(--select-background);
	border: none;
	min-height: 36px;
}

.inputFieldActive {
	background-color: var(--primary-color);
	color: var(--body-copy-color);
}

.datePickerWrapper {
	display: flex;
	flex-direction: row-reverse;
	color: var(--body-copy-color);
	border: 1px solid var(--select-border-color);
	border-radius: 6px;
}

.datePickerWrapper:hover {
	border-color: hsl(0, 0%, 70%);
}

.closeIconContainer {
	width: 32px;
	background-color: var(--select-background);
	color: var(--primary-color);
	position: relative;
	cursor: pointer;
	padding: 6px;
}

.closeIconSeparator {
	align-self: stretch;
	width: 1px;
	background-color: var(--select-border-color);
	margin-bottom: 8px;
	margin-top: 8px;
	box-sizing: border-box;
}

.closeIcon {
	display: inline-block;
	fill: currentColor;
	line-height: 1;
	stroke: currentColor;
	stroke-width: 5px;
	width: 20px;
	padding: 5px;
}

.closeIcon:hover {
	background-color: rgba(237, 232, 242, 0.2);
}

.indicatorSeparator {
	align-self: stretch;
	width: 1px;
	background-color: var(--select-border-color);
	margin-bottom: 8px;
	margin-top: 8px;
}

.indicatorContainer {
	display: flex;
	transition: color 150ms;
	color: hsl(0, 0%, 80%);
	padding: 8px;
	background-color: var(--select-background);
}

.indicatorWrapper {
	align-items: center;
	align-self: stretch;
	display: flex;
	flex-shrink: 0;
}
