/* Sidebar */

.sideBar {
	height: 100%;
	background: hsl(264, 40%, 10%);
	border-right: 1px solid var(--detail-border-color);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sideBar::-webkit-scrollbar {
	display: none;
}

.sideBarContent {
	/* position: fixed; */
	display: inline-block;
}

.sideBarContent li {
	padding: 0 8px 8px 14px;
}

.sideBarContent > ul {
	margin: 8px;
}

.sideBarContent > ul:last-child {
	margin-top: 0;
}

.dataSourceTitle {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sideBarContent a {
	content: '';
	gap: 8px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}

.logo {
	margin: 40px auto 32px 24px;
	min-height: 26px;
	height: 26px;
}

.logoLoading {
	display: none;
}

.subtext {
	opacity: 0.6;
	margin-left: 24px;
	margin-bottom: 4px;
}

/* Data Source List */

.closed > ul {
	display: none;
}

.closed a {
	display: flex;
	align-items: center;
}

.closed > a > svg:last-child {
	transform: rotate(180deg);
}

.open {
	background-color: #382f46;
	border-radius: 6px;
}

.open a {
	opacity: 1;
	display: flex;
	align-items: center;
}

.subListItem {
	display: flex;
	align-items: center;
	opacity: 0.6;
	height: 32px;
	border-radius: 6px;
	padding: 0 10px;
	width: 100%;
}

.subListItemText {
	overflow: hidden;
	text-overflow: ellipsis;
}

.subListItem::after {
	display: none;
}

.subListItem:hover {
	background-color: #2a2235;
}

.subListItem.active {
	background-color: var(--primary-color);
	opacity: 1;
}

.sideBarFooter {
	display: flex;
	justify-content: center;
}

.footerText {
	opacity: 0.6;
}
