.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.dataSourceIcon {
	width: 64px;
}

.heading {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 32px;
	line-height: 140%;
	color: #ede8f2;
}

.text {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: rgba(237, 232, 242, 0.6);
}
