:root {
	--select-background: rgba(237, 232, 242, 0.05);
	--select-hover-background: rgba(237, 232, 242, 0.15);
	--select-border-color: var(--detail-border-color);
	--select-selected-option-color: #12170d;
}

.select {
	position: relative;
	width: 100%;
	flex: 1;
}

.selectBox {
	background: var(--select-background);
	border-color: var(--select-border-color);
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	position: relative;
	max-height: 39px;
	min-height: 39px;
	width: 100%;
}

.selectedOptions {
    pointer-events: none;
    z-index: 2;
	display: flex;
	flex-wrap: nowrap;
	padding: 4px;
}

.selectInput {
    position: absolute;
    background: transparent;
    border: 0;
    color: transparent;
    width: 100%;
    height: 39px;
    cursor: pointer;
}

.optionPill {
	background-color: var(--primary-color);
	border-radius: 16px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 8px;
	white-space: nowrap;
	overflow: hidden;
}

.optionPillLabel {
	overflow: hidden;
	text-overflow: ellipsis;
}

.optionPill:focus {
	background-color: var(--color-red);
}

.deleteOption {
	color: #fff;
	cursor: pointer;
	font-size: 16px;
    margin-left: 8px;
    pointer-events: all;
}

.selection {
    padding: 8px;
}

.placeholder {
	color: #6c757d;
	text-transform: capitalize;
	padding: 4px;
	line-height: 27px;
}

.optionsDropdown {
	background: #271f36;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-height: 185px;
	overflow-y: auto;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.optionsDropdown .selectedOptions {
	flex-direction: column;
	gap: 10px;
}

.selectBox.open .optionsDropdown {
	display: block;
}



.option {
	cursor: pointer;
	padding: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selected {
    background-color: #0000003a;
}

.highlighted {
    background-color: #ffffff1d;
}

.selectBox.open:after {
	transform: rotate(-180deg);
}

.selectBox > .arrow {
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #fff transparent transparent transparent;
	transition: transform 0.2s ease-in-out;
}

.selectBox.open > .arrow {
	transform: translateY(-50%) rotate(180deg);
}

.focused {
	background-color: #ffffff0c;
	opacity: 0.8;
}