:root {
	--select-background: rgba(237, 232, 242, 0.05);
	--select-hover-background: rgba(237, 232, 242, 0.15);
	--select-border-color: var(--detail-border-color);
	--select-selected-option-color: #12170d;
}

.select {
	position: relative;
	width: 100%;
	flex: 1;
}

.selectBox {
	position: relative;
	display: flex;
	flex-direction: row;
	background: var(--select-background);
	border-color: var(--select-border-color);
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	cursor: pointer;
	max-height: 35px;
	min-height: 35px;
	width: 100%;
}

.inputContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: calc(100% - 30px);
	min-height: 28px;
}

.selectedOptions {
	display: flex;
	flex-wrap: nowrap;
	padding: 0 4px;
	z-index: 2;
}

.inputWrapper {
	flex: 1;
	min-width: 50px;
}

.selectInput {
	background: transparent;
	border: 0;
	width: 100%;
	height: 27px;
	cursor: pointer;
	padding: 4px 8px;
	color: inherit;
	outline: none;
}

.select:has(input:focus) .selectInput {
	color: var(--body-copy-color);
}

/* Hide placeholder when input is focused */
.select:has(input:focus) .placeholder {
	display: none;
}

.optionPill {
	background-color: var(--primary-color);
	border-radius: 16px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 8px;
	white-space: nowrap;
	overflow: hidden;
}

.optionPillLabel {
	overflow: hidden;
	text-overflow: ellipsis;
}

.optionPill:focus {
	background-color: var(--color-red);
}

.deleteOption {
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	margin-left: 8px;
	pointer-events: all;
}

.selection {
	padding: 8px;
}

.placeholder {
	color: #6c757d;
	padding: 4px 30px 4px 12px;
	line-height: 23px;
}

.optionsDropdown {
	background: #271f36;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-height: 185px;
	overflow-y: auto;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
}

.optionsDropdown .selectedOptions {
	flex-direction: column;
	gap: 10px;
}

.selectBox.open .optionsDropdown {
	display: block;
}

.option {
	cursor: pointer;
	padding: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selected {
	background-color: #0000003a;
}

.highlighted {
	background-color: #ffffff1d;
}

.selectBox > .arrow {
	position: absolute;
	top: 7px;
	right: 10px;
	pointer-events: none;
	transform-origin: center;
	border-color: #fff transparent transparent transparent;
	transition: transform 0.2s ease-in-out;
}

.selectBox.open > .arrow {
	transform: translateY(-4px) rotate(180deg);
}

.select:has(input:focus) .selectBox {
	background-color: var(--select-hover-background);
	color: var(--body-copy-color);
	border-radius: 6px;
	border-color: var(--select-border-color);
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	outline: none;
}

.focused {
	background-color: #ffffff0c;
	opacity: 0.8;
}
