.filterBarWrapper {
	display: flex;
	flex-direction: row;
	gap: 12px;
	min-height: 38px;
	align-items: center;
}

.filterBarContent {
	display: flex;
	align-items: flex-start;
	height: 70px;
	overflow-y: visible;
	z-index: 1000;
	gap: 16px;
	padding: 16px 0;
}

.iconWrapper {
	padding-top: 6px;
}

.filterScrollContainer {
	display: flex;
	gap: 16px;
	overflow-x: auto;
	height: fit-content;
	overflow-y: visible;
	z-index: 1000;
	flex: 1;
	min-width: 0;
	padding-bottom: 12px;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Opera) */
.filterScrollContainer::-webkit-scrollbar {
	display: none;
}

.filterComponentWrapper {
	flex-shrink: 0;
	overflow: visible;
	z-index: 99999;
}

@media only screen and (max-width: 1200px) {
	.filterBarWrapper {
		flex-wrap: wrap;
	}
}
