.container {
	flex: 1;
}

.inputSelector {
	display: flex;
	flex-direction: row;
	color: var(--body-copy-color);
	border: 1px solid var(--select-border-color);
	border-radius: 6px;
	max-height: 35px;
	min-height: 35px;
	overflow: hidden;
}

.inputSelector:hover {
	border-color: hsl(0, 0%, 70%);
}

.closeIconContainer {
	width: 32px;
	background-color: var(--select-background);
	color: var(--primary-color);
	position: relative;
	cursor: pointer;
	padding: 6px;
}

.closeIconSeparator {
	align-self: stretch;
	width: 1px;
	background-color: var(--select-border-color);
	margin-bottom: 8px;
	margin-top: 8px;
	box-sizing: border-box;
}

.closeIcon {
	display: inline-block;
	fill: currentColor;
	line-height: 1;
	stroke: currentColor;
	stroke-width: 5px;
	width: 20px;
	padding: 5px;
}

.closeIcon:hover {
	background-color: rgba(237, 232, 242, 0.2);
}

.indicatorSeparator {
	align-self: stretch;
	width: 1px;
	background-color: var(--select-border-color);
	margin-bottom: 8px;
	margin-top: 8px;
}

.indicatorContainer {
	display: flex;
	transition: color 150ms;
	color: hsl(0, 0%, 80%);
	padding: 8px;
	background-color: var(--select-background);
}

.indicatorWrapper {
	align-items: center;
	align-self: stretch;
	display: flex;
	flex-shrink: 0;
}

.popup {
	position: absolute;
	z-index: 1000;
	top: 95%;
	background-color: #1c1725;
	border: 1px solid var(--detail-border-color);
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 8px 16px 16px;
	overflow: hidden;
}

.filterButtons {
	display: flex;
	justify-content: space-around;
	gap: 8px;
}

.inputField {
	font-size: 100%;
	background-color: var(--select-background);
	border: none;
	min-height: 36px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: #6c757d;
	padding: 5px 8px 0 10px;
}

.inputFieldActive {
	background-color: var(--primary-color);
	color: var(--body-copy-color);
	border-radius: 6px 0px 0px 6px;
	padding-right: 10px;
	outline: 1px solid var(--body-copy-color);
}

/* Styling overrides for react-day-picker */
:global(.rdp-root) {
	--rdp-accent-color: var(--primary-color);
}

.inputContainer {
	display: flex;
	gap: 2px;
	margin: 10px 0 15px 0;
	align-items: center;
}

input.input {
	width: 100%;
}
