.toastContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 320px;
}

.iconContainer {
	margin-top: 4px;
	cursor: pointer;
}

.iconContainer:hover {
	opacity: 0.7;
}

.closeIconWrapper {
	width: 100%;
}

div[role='status'][aria-live='polite'] {
	justify-content: flex-start;
}
