.container {
	display: grid;
	grid-template-areas:
		'nav header'
		'nav content';
	grid-template-rows: 120px 1fr;
	grid-template-columns: 300px 1fr;
	grid-row-gap: 5px;
	grid-column-gap: 10px;
	height: 100vh;
	margin: 0;
}

.content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	/* overflow-y: scroll; */
	overflow-y: auto;
	margin-left: 40px;
	/* margin-bottom: 5px; */
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

footer {
	grid-area: footer;
}
