.button {
	position: relative;
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 12px;
	gap: 8px;

	flex-shrink: 0;

	background: var(--primary-color);
	border: 1px solid rgba(237, 232, 242, 0.2);
	box-shadow: 0 1px 3px rgba(9, 5, 16, 0.1);
	border-radius: 6px;
	font-weight: 500;
}

.button:hover {
	background-color: var(--secondary-color);
}

.button span {
	width: 16px;
	height: 16px;
}

.button[type='reset'] {
	background-color: rgba(var(--body-copy-color-rbg), 0.2);
	border: 1px solid var(--detail-border-color);
	border-radius: 6px;
	box-shadow: 0px 1px 3px rgba(9, 5, 16, 0.1);
	color: var(--body-copy-color);
}

.button[type='reset']:hover {
	background-color: rgba(var(--body-copy-color-rbg), 0.5);
}

.disabled {
	opacity: 0.5;
}

.hideChildren {
	opacity: 0;
}
