.wrapper {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.container {
	max-width: 300px;
	max-height: 500px;
	min-width: 300px;
	background: #ffffff0d;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 6px;
	border: #ffffff0a 1px solid;
	min-height: 400px;
	justify-content: center;
	align-items: center;
}
