.wrapper {
	display: flex; /* Enables flexbox layout */
	flex-direction: column; /* Arranges items vertically */
	flex-grow: 1; /* Allows the container to grow and fill available space */
	width: 100%; /* Takes up full available width */
	height: 100%; /* Takes up full available height */
}

/* SPAN */

.textContainer {
	/* Or a more specific name for your element */
	letter-spacing: 0.1em; /* tracking-widest translates to 0.1em */
	padding-top: 0.5rem; /* py-2 translates to 0.5rem top and bottom padding */
	padding-bottom: 0.5rem;
}

.spanContainer {
	position: relative; /* Allows for absolutely positioned children */
	overflow: hidden; /* Hides content overflowing the container */
	display: flex; /* Enables flexbox */
	flex-direction: column; /* Arranges items vertically */
	gap: 0.25rem; /* Spacing between flex items (gap-1 in Tailwind is 0.25rem) */
	font-size: 0.75rem; /* Sets font size to "text-xs" (0.75rem in Tailwind) */
}

.spanDisplayInfo {
	padding-top: 0.375rem; /* Top padding of 1.5 (0.375rem in Tailwind) */
	padding-bottom: 0.375rem; /* Bottom padding of 1.5 (0.375rem in Tailwind) */
}

.spanDisplayInfo:hover {
	cursor: pointer; /* Changes cursor to pointer on hover */
	text-decoration: underline; /* Underlines text on hover */
}

.spanProgressBarContainer {
	position: relative; /* Allows for absolutely positioned children */
	height: 1rem; /* Height of 4 (1rem in Tailwind) */
	border-radius: 0.25rem; /* Rounded corners */
	background-color: #08060d; /* Background color (gray-400 in Tailwind) */
}

.spanProgressBar {
	position: absolute;
	height: 1rem; /* Height of 4 (1rem in Tailwind) */
	border-radius: 0.25rem; /* Rounded corners */
	background-color: #7038c2;
}

.spanChildren {
	color: #71717a; /* Text color (neutral in Tailwind) */
	display: flex; /* Enables flexbox */
	flex-direction: column; /* Arranges items vertically */
	padding: 0; /* Resets default padding */
	margin: 0; /* Resets default margin */
	padding-left: 2.5rem; /* Left padding of 10 (2.5rem in Tailwind) */
	border-left: 2px solid; /* Left border of 2px */
	border-left-color: #241838; /* Border color (accent in Tailwind) */
}

/* VIEWER */

.scrollContainer {
	overflow-y: scroll; /* Enable vertical scrolling */
	height: 100%; /* Take full available height */
}

.spanListContainer {
	color: #71717a; /* Text color (neutral in Tailwind) */
	display: flex; /* Enable flexbox */
	flex-direction: column; /* Arrange items vertically */
}
