.datePickerWrapper {
	color: var(--body-copy-color);
	background-color: var(--select-background);
	border-color: var(--select-border-color);
	border-radius: 6px;
	box-sizing: border-box;
	min-height: 38px;
}

/** 
 * These are all I could find to style the input field.
 * @see https://stackoverflow.com/questions/22909969/styling-inputtype-date-in-chrome
 * and  https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker
 * Not using var() colours because suspect they are not available, but
 * having said that these aren't working too well either
 */
::-webkit-datetime-edit {
	vertical-align: middle;
	padding: 5px;
}
::-webkit-datetime-edit-fields-wrapper {
	color: #ede8f2;
	background-color: #100a1c;
}
::-webkit-datetime-edit-text {
	color: #ede8f2;
	background: #100a1c;
	padding: 0 0.3em;
}
::-webkit-datetime-edit-month-field {
	color: #ede8f2;
	background: #100a1c;
}
::-webkit-datetime-edit-day-field {
	color: #ede8f2;
	background: #100a1c;
}
::-webkit-datetime-edit-year-field {
	color: #ede8f2;
	background: #100a1c;
}
::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	/* display: none; */
}
::-webkit-calendar-picker-indicator {
	background: #ede8f2;
}
