.inputField {
	text-transform: uppercase;
	color: var(--body-copy-color);
	background-color: var(--select-background);
	border-color: var(--select-border-color);
	border-radius: 6px;
	min-height: 38px;
	padding-left: 5px;
}

.datePickerWrapper {
	/* color: var(--body-copy-color);
	background-color: var(--select-background);
	border-color: var(--select-border-color);
	border-radius: 6px;
	min-height: 38px; */
}

:global .rdtPicker {
	background-color: #100a1c;
	border-color: var(--select-border-color);
	border-radius: 6px;
}

:global .rdtPicker th {
	border-bottom-color: var(--select-border-color);
	border-bottom-width: 1px;
}

:global .rdtPicker td.rdtDay:hover,
:global .rdtPicker thead tr:first-of-type th:hover,
:global td.rdtMonth:hover,
:global td.rdtYear:hover {
	background-color: var(--select-hover-background);
}

:global .rdtPicker td.rdtActive {
	background-color: var(--secondary-color);
}

:global .rdtPicker td.rdtToday:before {
	border-bottom-color: var(--secondary-color);
}
/** 
 * These are all I could find to style the input field.
 * @see https://stackoverflow.com/questions/22909969/styling-inputtype-date-in-chrome
 * and  https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker
 * Not using var() colours because suspect they are not available, but
 * having said that these aren't working too well either
 */
::-webkit-datetime-edit {
	vertical-align: middle;
	padding: 5px;
}
::-webkit-datetime-edit-fields-wrapper {
	color: #ede8f2;
	background-color: #100a1c;
}
::-webkit-datetime-edit-text {
	color: #ede8f2;
	background: #100a1c;
	padding: 0 0.3em;
}
::-webkit-datetime-edit-month-field {
	color: #ede8f2;
	background: #100a1c;
}
::-webkit-datetime-edit-day-field {
	color: #ede8f2;
	background: #100a1c;
}
::-webkit-datetime-edit-year-field {
	color: #ede8f2;
	background: #100a1c;
}
::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	/* display: none; */
}
::-webkit-calendar-picker-indicator {
	background: #ede8f2;
}
