:root {
	--detail-panel-slide-animation-time: 300ms;
}

.wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-width: 500px;
}

/* Derived from Figma designs */
.detailContainer {
	max-width: 500px;
	height: 100%;
	align-self: end;
	background: var(--detail-bg-color);
	border: 1px solid rgba(237, 232, 242, 0.1);
	border-radius: 6px;
	min-width: 500px;
	/* Make sure the div starts off the screen */
	transform: translateX(100%);
	transition: transform var(--detail-panel-slide-animation-time);
	padding: 30px;
	overflow-y: auto;
	overflow-x: hidden;
}

.detailContainer.slideIn {
	/* Transition out */
	transform: translateX(0%);
}

.detailFieldList {
	display: flex;
	flex-flow: column nowrap;
	gap: 10px;
	max-height: 75%;
	padding-bottom: 20px;
}

.detailField {
	display: flex;
	flex-flow: column nowrap;
	gap: 10px;
}

.textInputField,
.selectField {
	box-sizing: border-box;
	height: 40px;
	background: rgba(237, 232, 242, 0.02);
	border: 1px solid rgba(237, 232, 242, 0.1);
	border-radius: 6px;
	padding: 10px;
}
.textInputField:disabled,
.selectField:disabled {
	opacity: 0.5;
}

.modalOverlay {
	position: fixed;
	inset: 0px;
	background-color: rgba(255, 255, 255, 0.4);
}

.detailFormContainer {
	display: flex;
	flex-flow: column nowrap;
}

.detailButtonContainer {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	gap: 10px;
	justify-content: flex-end;
	margin-top: 20px;
}

.idContent {
	position: relative;
	width: 414px;
	height: 21px;
	left: 32px;
	top: 57px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	/* identical to box height, or 21px */

	color: rgba(237, 232, 242, 0.6);
}

.link {
	background: none !important;
	border: none;
	padding: 0 !important;
	font-family: 'Inter';
	font-style: normal;
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

/* Unsaved Changes Modal */
.unsavedChangesModal {
	width: 371px;
	height: 200px;
	background: var(--detail-bg-color);
	border: 1px solid rgba(237, 232, 242, 0.1);
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.unsavedChangesTitle {
	width: 323px;
	font-size: 24px;
	font-weight: 600;
	line-height: 34px;
	text-align: left;
}

.unsavedChangesContent {
	width: 323px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	margin-top: 25px;
}

.unsavedChangesButtonRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 25px;
	padding: 10px;
}

.unsavedChangesButton {
	background-color: #332e3d;
	font-weight: 500;
	margin-left: 10px;
}

.unsavedChangesButton:hover {
	background-color: #4c475b;
}
