/* Sidebar */

.sideBar {
	position: sticky;
	top: 0;
	width: 300px;
	background: hsl(264, 40%, 10%);
	border-right: 1px solid rgba(237, 232, 242, 0.1);
	display: flex;
	flex-direction: column;
}

.sideBar li {
	padding: 0 8px 8px 14px;
}

.sideBar > ul {
	margin: 8px;
}

.sideBar > ul:last-child {
	margin-top: 0;
}

.sideBar a > svg {
	margin-right: 8px;
}

.sideBar a::before {
	content: '';
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}

.logo {
	margin: 40px auto 32px 24px;
}

.subtext {
	opacity: 0.6;
	margin-left: 24px;
	margin-bottom: 4px;
}

/* Data Source List */

.closed > ul {
	display: none;
}

.closed a {
	display: flex;
	align-items: center;
}

.closed > a > svg:last-child {
	position: absolute;
	right: 10px;
	transform: rotate(180deg);
}

.open {
	background-color: #382f46;
	border-radius: 6px;
}

.open a {
	opacity: 1;
	display: flex;
	align-items: center;
}

.open > a > svg:last-child {
	position: absolute;
	right: 10px;
}

.subListItem span {
	width: 16px;
	height: 16px;
	background-image: url(./assets/16-table.svg);
}

.subListItem {
	display: flex;
	align-items: center;
	opacity: 0.6;
	height: 32px;
	border-radius: 6px;
	padding: 0 10px;
	width: 100%;
}

.subListItem::after {
	display: none;
}

.subListItem:hover {
	background-color: #2a2235;
}

.subListItem.active {
	background-color: var(--primary-color);
	opacity: 1;
}

.subListItem.active span {
	background-image: url(../../assets/img/16-table-light.svg);
}
