/* Sidebar */
:root {
	/* Logo is 86px; 120px preserves all the icons including the Data-Source icons */
	--sidebar-min-width: 120px;
	--sidebar-max-width: 300px;
}

.sideBarContent {
	position: sticky;
	top: 0;
	min-width: var(--sidebar-min-width);
	max-width: var(--sidebar-max-width);
	background: hsl(264, 40%, 10%);
	border-right: 1px solid rgba(237, 232, 242, 0.1);
	display: flex;
	flex-direction: column;
}

.sideBar {
	flex-grow: 0;
	flex-shrink: 0;
	min-width: var(--sidebar-min-width);
	max-width: var(--sidebar-max-width);
	display: flex;
	flex-direction: row;
	z-index: 2;
}

.sideBar .sideBarContent {
	flex: 1;
}

.sideBar .sideBarResizer {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 6px;
	justify-self: flex-end;
	cursor: col-resize;
	resize: horizontal;
}

.sideBar .sideBarResizer:hover {
	width: 3px;
	background: #c1c3c5b4;
}

.sideBar .sideBarResizer:hover::after {
	content: url(../../assets/16-chevron-down.svg);
	position: relative;
	transform: rotate(270deg);
	left: 0;
	top: 80px;
	width: 64px;
	height: 64px;
	background-color: white;
	cursor: pointer;
}

.sideBarContent li {
	padding: 0 8px 8px 14px;
}

.sideBarContent > ul {
	margin: 8px;
}

.sideBarContent > ul:last-child {
	margin-top: 0;
}

.sideBarContent a svg {
	margin-right: 8px;
}

.sideBarContent a::before {
	content: '';
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}

.logo {
	margin: 40px auto 32px 24px;
}

.subtext {
	opacity: 0.6;
	margin-left: 24px;
	margin-bottom: 4px;
}

/* Data Source List */

.closed > ul {
	display: none;
}

.closed a {
	display: flex;
	align-items: center;
}

.closed > a > svg:last-child {
	position: absolute;
	right: 10px;
	transform: rotate(180deg);
}

.open {
	background-color: #382f46;
	border-radius: 6px;
}

.open a {
	opacity: 1;
	display: flex;
	align-items: center;
}

.open > a > svg:last-child {
	position: absolute;
	right: 10px;
}

.subListItem svg {
	width: 16px;
	height: 16px;
}

.subListItem {
	display: flex;
	align-items: center;
	opacity: 0.6;
	height: 32px;
	border-radius: 6px;
	padding: 0 10px;
	width: 100%;
	font-weight: 600;
	white-space: nowrap;
}

/* .subListItem::before {
	content: url(../../assets/16-table.svg);
	width: 16px;
	height: 16px;
	margin-right: 8px;
	opacity: 1;
} */

.subListItem::after {
	display: none;
}

.subListItem:hover {
	background-color: #2a2235;
}

.subListItem.active {
	background-color: var(--primary-color);
	opacity: 1;
}

/* .subListItem.active::before {
	content: url(../../assets/16-table-light.svg);
} */

span[data-tooltip-for].textHidden {
	visibility: hidden;
}

/* Not required except for specificity?
.subListItem.tooltip {
	/* position: relative; * /
	display: inline-block;
	/* border-bottom: 1px dotted black; * /
} */

.subListItem .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #2a2235;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.subListItem .tooltiptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.subListItem:hover .tooltiptext {
	visibility: visible;
}
