.container {
	display: flex;
	flex-direction: column;
	overflow: auto;
	border-radius: 12px;
	height: 100%;
	background-color: #1e1a25;
	border: 1px solid #3b3349;
}

.table {
	position: relative;
}

.clickable {
	cursor: pointer;
}

.table table {
	min-width: 100%;
	background-color: #1e1a25;
}

.table thead {
	background-color: #271f36;
	height: 40px;
	position: sticky;
	top: 0;
}

.table th {
	vertical-align: middle;
	color: #9e98a7;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	position: sticky;
	top: 0;
	z-index: 1;
	text-align: left;
	padding: 0 10px;
	align-items: center;
	height: 48px;
}

.table th:hover {
	background-color: #352d44;
	cursor: pointer;
}

.table th .header {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 8px;
}

.table th .arrow {
	transform-origin: center;
	transition-duration: 0.3s;
}

.table th .asc {
	transform: rotate(180deg);
}

.table th .desc {
	transform: rotate(0deg);
}

.table tr {
	height: 48px;
	max-height: 48px;
}

.table tbody tr:hover {
	background-color: #352d44;
}

.table .rowAlternateColor {
	background-color: #241e2f;
}

.table td {
	vertical-align: middle;
	color: #ede8f2;
	font-size: 14px;
	line-height: 19.6px;
	font-weight: 400;
	padding: 0 10px;
	white-space: nowrap;
}
