name: action-jira-linker
on: [pull_request]

jobs:
  action-jira-linker:
    runs-on: ubuntu-latest
    steps:
      - uses: exogee-technology/action-jira-linker@v1.1.1
        # We don't want to try to link JIRA issues if we're running from an external collaborator / dependabot / etc as
        # none of these secrets will be available to us and it'll just error.
        if: github.secret_source == 'Actions'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-token: ${{ secrets.JIRA_TOKEN }}
          jira-user: ${{ secrets.JIRA_USER }}
          jira-base-url: https://exogee.atlassian.net
          comment-header: "If you work at [Exogee](https://exogee.com), you can find more information about this pull request in JIRA.\n\n---\n\n"
