name: Metadata and Scalar End to End Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  metadata-scalars-end-to-end-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: actions/cache@v3
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-

      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.6.9

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"
          cache-dependency-path: src/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm i

      - name: Build CLI tool
        run: pnpm build

      - name: Test Scalars
        working-directory: src/packages/end-to-end
        timeout-minutes: 2
        run: |
          pnpm test-scalars

      - name: Test Metadata
        working-directory: src/packages/end-to-end
        timeout-minutes: 2
        run: |
          pnpm test-metadata

        env:
          CI: true
