name: Storage Provider UI End to End Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  storage-provider-ui-end-to-end-tests:
    runs-on: depot-ubuntu-24.04-4
    defaults:
      run:
        working-directory: src

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: gw_storage_provider
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      localstack:
        image: localstack/localstack
        env:
          SERVICES: s3
          DISABLE_CUSTOM_CORS_S3: 1
          DISABLE_CORS_CHECKS: 1
          DATA_DIR: /tmp/localstack/data
        ports: ["4566:4566"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: actions/cache@v4
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-

      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 9.15.3

      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "pnpm"
          cache-dependency-path: src/pnpm-lock.yaml

      - name: Configure localstack
        run: |
          aws configure set aws_access_key_id localstack
          aws configure set aws_secret_access_key localstack
          aws configure set default.region us-east-1
          aws s3 mb s3://my-bucket --endpoint-url=http://s3.us-east-1.localhost.localstack.cloud:4566

      - name: Install dependencies
        run: pnpm i

      - name: Build CLI tool
        run: pnpm build

      - name: Install Playwright's dependencies
        working-directory: src/packages/end-to-end
        run: pnpm playwright install --with-deps chromium

      - name: Make envfile
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_AWS_S3_BUCKET: my-bucket
          envkey_AWS_S3_ENDPOINT: http://s3.us-east-1.localhost.localstack.cloud:4566
          envkey_AWS_REGION: "us-east-1"
          envkey_AWS_ACCESS_KEY_ID: localstack
          envkey_AWS_SECRET_ACCESS_KEY: localstack
          envkey_PGHOST: localhost
          envkey_PGPORT: 5432
          envkey_PGDATABASE: gw_storage_provider
          envkey_PGUSER: postgres
          envkey_PGPASSWORD: postgres
          directory: src/examples/s3-storage

      - name: Build and Setup App and Postgres Database
        working-directory: src/packages/end-to-end
        timeout-minutes: 4
        run: |
          pnpm import-storage-provider
        env:
          CI: true
          PGDATABASE: gw_storage_provider
          PGUSER: postgres
          PGPASSWORD: postgres

      - name: Start and Test Storage Provider Example
        working-directory: src/packages/end-to-end
        timeout-minutes: 4
        run: |
          pnpm start-server &
          sleep 5 &&
          pnpm test-storage-provider &&
          pnpm test-ui-storage-provider &&
          killall node

      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: playwright-report
          path: src/packages/end-to-end/playwright-report/
          retention-days: 30
        env:
          CI: true
