name: Windows End to End Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  windows-end-to-end-tests:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: src
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/cache@v4
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-

      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 9.15.3

      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "pnpm"
          cache-dependency-path: src/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm i

      - name: Build CLI tool
        run: pnpm build:packages

      - name: Install Playwright Browsers
        working-directory: src/packages/end-to-end
        run: pnpm playwright install --with-deps chromium

      - name: Init and Import SQLite Chinook Database
        working-directory: src/packages/end-to-end
        run: |
          pnpm import-database-sqlite

      - name: Start and Test GW instance
        working-directory: src/packages/end-to-end
        timeout-minutes: 7
        run: |
          pnpm start-server &
          $maxRetries = 30
          $retryInterval = 1
          $url = "http://localhost:9000/graphql"

          for ($i = 0; $i -lt $maxRetries; $i++) {
            try {
              $response = Invoke-WebRequest -Uri $url -Method "GET" -UseBasicParsing -ErrorAction Stop
              if ($response.StatusCode -eq 200) {
                Write-Host "Server is up and running."
                break
              }
            } catch {
              Write-Host "Server not ready yet. Retrying in $retryInterval second(s)..."
              Start-Sleep -Seconds $retryInterval
            }
          }

          if ($i -eq $maxRetries) {
            Write-Host "Server failed to start within the specified time."
            exit 1
          }
          pnpm test-sqlite
          pnpm test-ui-sqlite

        env:
          CI: true

      - name: Stop Server
        if: always()
        working-directory: src/packages/end-to-end
        run: |
          taskkill /F /IM node.exe /T
