.overlay {
	background-color: rgb(0 0 0 / 30%);
	width: 100%;
	min-height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

.noOverlay {
	width: 100%;
	min-height: 100%;
	position: relative;
	display: flex;
	/* justify-content: ; */
	align-items: left;
}

.closeArea {
	position: absolute;
	width: 100%;
	height: 100vh;
}

.closeBtn {
	background-color: transparent;
	border: 0px;
	outline: none;
	width: 36px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.closeBtn:hover * > path {
	color: var(--color-black);
}

.wrapper {
	background-color: var(--color-white);
	border-radius: 8px;
	border: 1px solid #ececec;
	box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	z-index: 1;
	margin: auto;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 90px;
}

.headerWrapper {
	border-bottom: 1px solid var(--color-border-default);
}

.footerWrapper {
	border-top: 1px solid var(--color-border-default);
}

.fullScreen {
	width: 100vw;
	height: 100%;
	margin: 0;
}

.contentWrapper {
	height: 100%;
}

.title {
	height: 25px;
	align-self: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	/* or 25px */
	color: #ede8f2;
	background-color: var(--detail-bg-color);
	z-index: 1;
}

.iconContainer {
	display: flex;
	min-width: 32px;
	cursor: pointer;
	min-height: 20px;
	max-height: 20px;
}
.iconContainer:hover {
	opacity: 0.7;
}

.closeIconWrapper {
	width: 100%;
}

.closeIconLeft {
	height: 100%;
	width: 2px;
	margin-left: 12px;
	background-color: #fff;
	transform: rotate(45deg);
}

.closeIconRight {
	height: 100%;
	width: 2px;
	background-color: #fff;
	transform: rotate(90deg);
}
